body {
    background-color: #E0FFFF;
}
    
  /* INDEX */

    #headerTitle {
        text-align: center;
        font-size: 175%;
        font-family: 'Oswald', sans-serif;
        font-weight: 800;
        background-color: #DEB887;
        color: #D3D3D3;
        padding: 3%;
        border: black;
        border-style: groove;
        text-shadow: 2px 2px 5px black;
        margin-left: 10%;
        margin-right: 10%;
    }

    #naturalTitle {
        background-color: #2F4F4F;
        position: absolute;
        right: 33%;
        padding: 1%;
        font-family: 'Oswald', sans-serif;
        font-size: 125%;
        margin-top: 11%;
    }

    #familyTitle {
        background-color: #2F4F4F;
        position: absolute;
        left: 33%;
        padding: 1%;
        font-family: 'Oswald', sans-serif;
        font-size: 125%;
    }

    header {
        background-image: url(img/white.jpg);
        background-repeat: no-repeat;
        border-style: double;
        border-color: black;
        border-width: 10px;
        margin: 2px;
        padding: 3px;
        text-align: center;
    }
    #links {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 600;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;
    }

    #river {
        float: left;
        width: 22%;
        position: relative;
        left: 10%;
        bottom: 10%;
    }
    #holdingCookies {
        clear: left;
        transform: rotate(350deg);
        width: 20%;
        position: absolute;
        left: 10%;
        top: 47%;
    }
    #redShirtKidSalmon {
        float: right;
        width: 22%;
        position: relative;
        right: 10%;
    }

    #baker {
        clear: right;
        transform: rotate(10deg);
        width:22%;
        position: absolute;
        top: 47%;
        right: 10%;
    }

    #family {
        width: 30%;
        position: relative;
        top: 100px;
        left:200px
    }

    .store {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        background-color: #2F4F4F;
        border: black;
        border-style: dotted;
        width: 20%;
        position: absolute;
        bottom: 0;
        width: 80%;
        padding: 1%;
        margin-left: 10%;
        margin-right: 10%;
    }

  /* SALES */

    table {
        width: 80%;
        border: 1px dotted;
        border-width: 5px;
        margin-left: auto;
        margin-right: auto;
        color: #778899;;
    }
    #home {
        text-align: center;
    }

    #sales {
        text-align: center;
        font-family: "CenturyGothic", CenturyGothic, AppleGothic, sans-serif;
        font-size: 125%;
    }

    table th {
        border: 1px solid;
    }

    table td {
        border: 1px solid;
    }